@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
  background-color: #ffffff;
  margin: 0px;
  width: 100%;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

#topo{
  width: 100%;
  height: 40px;
  background-color: #B02B0E;
}
header {
  background-color: rgb(189, 189, 241);
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  background-color: #F22B00;
  justify-content: space-around;
}
#menu{
  width: 100%;
  height: 50px;
  border: solid 2px #ffe9e4 ;
  background-color: rgb(255, 255, 255);
}

#menu-content{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin: 0px;
  font-weight: bolder;
  font-family: 'Open Sans';
}
ol{
  margin-top: 5px;
}
section {
  margin: 100px;
  padding: 22px;
  display: flex;
  justify-content: space-around;
}
#divBusca {
  padding: 0px;
  background-color: white;
  border: solid 2px black;
  border-radius: 10px;
  height: 35px;
  width: 50%;
}

#txtBusca {
  background-color: transparent;
  padding-left: 5px;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 78%;
}

#btnBusca {
  border: none;
  float: right;
  height: 35px;
  border-radius: 0 7px 7px 0;
  width: 20%;
  background: black;
  color: white;
}

#divBusca img {
  float: left;
}
.name {
  margin: 10 0 5px;
  color: #808080;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}
.image {
  width: 240px;
  height: 240px;
  border-radius: 10px;
}

.tenis-content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-size: 19px;
  font-family: sans-serif;
  text-align: center;
  padding: 6px;
  border-radius: 10px;
  border: 2px solid white;
}

.genero{
  color: #808080;
  font-size: 22px;
  font-weight: bold;
}

.frete{
  color: #2CC452;
  margin: 0 0 5px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.parcelas{
  color: #808080;
  font-size: 15px;
}

/* .tenis-content:hover {
  background-color: #F22B00;
} */
.align {
  font-size: large;
}

#cart-icon {
  height: 30px;
  width: 30px;
}

p {
  color: #1A1A1A;
  margin: 0 0 5px;
  text-align: left;
  font-weight: bold;
}
